{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <form method="post">
            <p class="createFormTitle">Change Password</p>
            {{ form.hidden_tag() }}

            <p>Old Password: {{ form.oldPassword() }}</p>
            {% for error in form.oldPassword.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                </div>
            {% endfor %}

            <p>New Password: {{ form.newPassword() }}</p>
            {% for error in form.newPassword.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                </div>
            {% endfor %}

            <p>Confirm New Password: {{ form.confirmPassword() }}</p>
            {% for error in form.confirmPassword.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                </div>
            {% endfor %}

            <p><input type="submit" class="btn btn-primary" value="Update Password"></p>

            <div class="additional-options">
                <p><a href="{{ url_for('edit') }}" class="btn btn-link">Cancel</a></p><!-- If the user wants to stop changing password, they can press cancel and when they do, it redirects them back to the edit email page-->
            </div>
        </form>
    </div>
{% endblock %}
